<footer>

    <div>
        @ Harsh's Codeial. All rights reserved 
    </div>

    <div class="footer-2nd-div">
        <div>
            <a href="/">Home</a>
        </div>

        <div>
            <% if (locals.user){ %>
                <a href="/users/profile/<%= user.id %>"> Profile</a>
        
            <% }else{ %>
                <a href="/users/sign-in">Profile</a>
            <% } %>
        
        </div>
    </div>

</footer>

