<header>

    <div>
        Codeial
    </div>    

    <% if (locals.user){ %>
        <div>
            <a href="/users/profile/<%= user.id %>"> <%= user.name %></a>
            <!-- here in header there is link to profile page and it is being accessed but in footer it is showing error ?? -->
            &nbsp
            <a href="/users/sign-out">Sign Out</a>
        </div>

    <% }else{ %>

        <div>
            <a href="/users/sign-in">Sign In</a>
            &nbsp
            <a href="/users/sign-up">Sign Up</a>
        </div>

    <% } %>

</header>