<header>

    <div>
        Codeial
    </div>    

    <% if (locals.user){ %>
        <div>
            <a href="/users/profile"> <%= locals.user.name %></a>
            &nbsp
            <a href="/users/sign-out">Sign Out</a>
        </div>

    <% }else{ %>

        <div>
            <a href="/users/sign-in">Sign In</a>
            &nbsp
            <a href="/users/sign-up">Sign Up</a>
        </div>

    <% } %>

</header>