
<link rel="stylesheet" href="/css/home.css">

<h1>Harsh's Page <%= title %> </h1>

<a href="/users/sign-up">
    <button type="submit">Signup</button>
</a>
<div>
    <a href="/users/sign-in">
        <button type="submit">Signin</button>
    </a>
</div>

<script type="text/javascript" src="/js/home.js"></script>
