footer{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 8vh;
    font-size: 1.2rem;
    padding: 0 1%;
    color: white;
    background-color: gray;
    font-weight: bolder;

    .footer-2nd-div{
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        a{
            text-decoration: none;
            color: white;
        }
    }
}