header{
    display: flex;
    background-color: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    font-size: 4vh;
    color: white;
    font-weight: bold;    
    padding: 0 1%;

    a{
        text-decoration: none;
        color: white;
    }
}