h1{
    color: hotpink;
    margin: 20px;
}


form{
    border: 2px silver solid !important;
    margin: auto;
    width: 50%;
}

.section-element{
    margin: 5px;
    margin-bottom: 10px;
}

.category-div{
    display: inline-block;
    width: 49%;
    border-right: 1px lightgrey solid ;
}
.date-div{
    display: inline-block;
    width: 49%;
}

input{
    border: none;
    outline : none;
    width: 90%;
}

.box-items{
    border-bottom : 1px lightgrey solid;
}

#heading{
    font-size: 2rem;
    text-align: center;
}



#heading{
    width: 100%;
    height: auto;
}