footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  height: 10%;
  font-size: 1.5rem;
  padding: 0 2%;
  color: white;
  background-color: grey;
  font-weight: bolder; }
  footer .footer-2nd-div {
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-size: 3vh;
    margin-left: 5%; }
    footer .footer-2nd-div a {
      text-decoration: none;
      color: white; }
